.bike-name {
  margin-top: 5%;
  position: fixed;
}

.search-section {
  font-size: 30px;
  font-family: 'Josefin Sans';
  color: white;
  text-align: center;
  button{
    box-shadow: 2px 2px 4px white;
    background-color: rgba(0, 0, 0, .0);
  }
  form {
    color: black;
  }
}

.output {
  margin-top: 8%;
  padding-top: 5%;
  width: 70%;
  list-style: none;
  background-color: rgba(150, 150, 150, .8);
  border: 2px solid white;

  li{
    color: white;
    font-size: 15px;
    letter-spacing: 1px;
    font-family: 'bitter';
    text-decoration: underline;
    text-align: center;
  }
}

nav {
  a {
    font-family: 'Josefin Sans';
    color: white;
  }
}

#map {
  border: 4px solid white;
  height: 400px;
  width: 80%;
}


#map-div {
  margin-top: 25%;
  margin-left: 40%;
  position: fixed;
}

#big-map {
  height: 600px;
  width: 95%;
}

#big-map-div {
  margin-top: 20%;
  margin-left: 40%;
  position: fixed;
}

.bg {
  background-image: url(../../img/bg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.stolen-bike-image {
  position: fixed;
  height: 300px;
  width: 400px;
}
